$color-text-white: rgb(255, 255, 255);
$color-text-black: rgb(0, 0, 0);
$color-text-light-blue: #bcdffc;
$color-text-gray: rgba(180, 180, 180, .9);
$color-text-yellow: #fef106;
$color-bg-gray: rgba(23, 17, 41, .3);;
$color-bg-blue: rgb(87, 117, 151);
