@import './_fonts.scss';
@import './header.scss';
@import './base.scss';
@import './normalize.css';

ul, li {
  list-style: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gilroy-Regular, sans-serif;
  background-color: $color-bg-blue;
}

.container {
  //max-width: 900px;
  //width: 100%;
  //margin: 0 auto;
}

.root {
  //text-align: center;
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  h1 {
    font-family: Gilroy-Bold, sans-serif;
  }
  p {
    font-family: Gilroy-Medium, sans-serif;
  }
  span {
    font-family: Gilroy-Light, sans-serif;
  }
}

p, span, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}